<p>
	<input #cardcolourback type="color" id="head" name="head" value="#ff0000" (change)="changeColour('back', cardcolourback.value)" />
   	<label for="head">Back</label>
</p>

<p>
	<input #cardcolourfront type="color" id="head" name="head" value="#00ff00" (change)="changeColour('front', cardcolourfront.value)" />
   	<label for="head">Front</label>
</p>

<p>
	<input #cardcolourfound type="color" id="head" name="head" value="#0000ff" (change)="changeColour('found', cardcolourfound.value)" />
   	<label for="head">Found</label>
</p>
