<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div id="sidebar">
	  TODO:
	  <pre>
	 - Top five
	 - New game

	 - Karakter op kaarten (wing it)
	 - Bord size (wing it)
	  </pre>
	  <app-colors></app-colors>

	  	<b>Card back:</b>
		<select name="character" id="character">
			<option value="*">*</option>
			<option value="#">#</option>
			<option value="@">@</option>
			<option value="&">&</option>
			<option value="%">%</option>
			<option value="X">X</option>
		</select>
		<br>
			<b>Board size:</b><select name="size" id="size">
			<option value=2>2</option>
			<option value=4>4</option>
			<option value=6 selected>6</option>
		</select>
		<button>New game</button>
  </div>
<div id="main">
	<app-progressbar></app-progressbar>
	<div>
		<app-board (cardClickedEvent)="cardClicked($event)"></app-board>
	</div>
</div>
